set_io Tile_X0Y1_A Tile_X0Y1.A
set_io Tile_X0Y2_A Tile_X0Y2.A
set_io Tile_X0Y3_A Tile_X0Y3.A
set_io Tile_X0Y4_A Tile_X0Y4.A
set_io Tile_X0Y5_A Tile_X0Y5.A
set_io Tile_X0Y6_A Tile_X0Y6.A
set_io Tile_X0Y7_A Tile_X0Y7.A
set_io Tile_X0Y8_A Tile_X0Y8.A
set_io Tile_X0Y9_A Tile_X0Y9.A
set_io Tile_X0Y10_A Tile_X0Y10.A
set_io Tile_X0Y11_A Tile_X0Y11.A
set_io Tile_X0Y12_A Tile_X0Y12.A
set_io Tile_X0Y13_A Tile_X0Y13.A
set_io Tile_X0Y14_A Tile_X0Y14.A
set_io Tile_X0Y15_A Tile_X0Y15.A
set_io Tile_X0Y16_A Tile_X0Y16.A
set_io Tile_X0Y17_A Tile_X0Y17.A
set_io Tile_X0Y18_A Tile_X0Y18.A
set_io Tile_X0Y19_A Tile_X0Y19.A
set_io Tile_X0Y20_A Tile_X0Y20.A
set_io Tile_X0Y21_A Tile_X0Y21.A
set_io Tile_X0Y22_A Tile_X0Y22.A
set_io Tile_X0Y23_A Tile_X0Y23.A
set_io Tile_X0Y24_A Tile_X0Y24.A
set_io Tile_X0Y25_A Tile_X0Y25.A
set_io Tile_X0Y26_A Tile_X0Y26.A
set_io Tile_X0Y27_A Tile_X0Y27.A
set_io Tile_X0Y28_A Tile_X0Y28.A
set_io Tile_X0Y29_A Tile_X0Y29.A
set_io Tile_X0Y30_A Tile_X0Y30.A
set_io Tile_X0Y31_A Tile_X0Y31.A
set_io Tile_X0Y32_A Tile_X0Y32.A
set_io Tile_X0Y33_A Tile_X0Y33.A
set_io Tile_X0Y34_A Tile_X0Y34.A
set_io Tile_X0Y35_A Tile_X0Y35.A
set_io Tile_X0Y36_A Tile_X0Y36.A
set_io Tile_X0Y37_A Tile_X0Y37.A
set_io Tile_X0Y38_A Tile_X0Y38.A
set_io Tile_X0Y39_A Tile_X0Y39.A
set_io Tile_X0Y40_A Tile_X0Y40.A
set_io Tile_X0Y41_A Tile_X0Y41.A
set_io Tile_X0Y42_A Tile_X0Y42.A
set_io Tile_X0Y43_A Tile_X0Y43.A
set_io Tile_X0Y44_A Tile_X0Y44.A
set_io Tile_X0Y45_A Tile_X0Y45.A
set_io Tile_X0Y46_A Tile_X0Y46.A
set_io Tile_X0Y47_A Tile_X0Y47.A
set_io Tile_X0Y48_A Tile_X0Y48.A
set_io Tile_X0Y49_A Tile_X0Y49.A
set_io Tile_X0Y50_A Tile_X0Y50.A
set_io Tile_X0Y51_A Tile_X0Y51.A
set_io Tile_X0Y52_A Tile_X0Y52.A
set_io Tile_X0Y53_A Tile_X0Y53.A
set_io Tile_X0Y54_A Tile_X0Y54.A
set_io Tile_X0Y55_A Tile_X0Y55.A
set_io Tile_X0Y56_A Tile_X0Y56.A
set_io Tile_X0Y57_A Tile_X0Y57.A
set_io Tile_X0Y58_A Tile_X0Y58.A
set_io Tile_X0Y59_A Tile_X0Y59.A
set_io Tile_X0Y60_A Tile_X0Y60.A